<article class="kratos-hentry clearfix" itemscope itemtype="https://schema.org/Article">
    <div class="kratos-entry-border clearfix">
        <% if (post.sticky || post.top) { %>
            <div class="pin-top wrapper">
                <div class="pin-top inner"></div>
            </div>
        <% } %>
        <div class="kratos-entry-post-main">
            <% let cover = post.cover === undefined ? theme.posts.default_cover : (
                post.cover ? (
                    /^(#|\/\/|http(s)?:)/.test(post.cover) ? 
                    post.cover : 
                    url_for(
                        post.cover.startsWith('/') ? 
                        post.cover : 
                        post.path.replace(/(\/index)?\.html?$/, '') + '/' + post.cover
                    )
                ) : null
            ); %>
            <% if (cover) { %>
                <div class="kratos-entry-thumb">
                    <a href="<%- url_for(post.path) %>">
                        <img class="kratos-entry-thumb-img" src="<%- cover %>" alt="<%- url_for(post.title) %>">
                    </a>
                </div>
            <% } %>
            <div class="kratos-entry-post-inner">
                <header class="kratos-entry-header">
                        <%- list_categories(post.categories, {
                            show_count: false,
                            class: 'label',
                            style: 'none',
                            separator: ' '
                        }) %>
                    <h2 class="kratos-entry-title"><a href="<%- url_for(post.path) %>" itemprop="mainEntityOfPage"><span itemprop="name headline"><%- post.title %></span></a>
                </header>
                <div class="kratos-entry-content">
                    <p itemProp="description">
                        <% if (post.excerpt) { %>
                            <%- escape_html(strip_html(post.excerpt.replace(/\<br\s*\/?\>/g, '\n'))).replace(/\r\n?|\n/g, '<br>') %>
                        <% } else { %>
                            <%- escape_html(truncate(strip_html(post.content), {length: 120})) %>
                        <% } %>
                    </p>
                </div>
            </div>
        </div>
        <footer class="kratos-entry-post-meta">
            <span class="pull-left">
                <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
                    <a><i class="fa fa-calendar"></i> <%- date(post.date, null) %></a>
                </time>
                <a>
                    <% if (post.tags.length) { %>
                        <i class="fa fa-tags"></i>
                        <%- list_tags(post.tags, {
                            show_count: false,
                            style: 'none',
                            amount: 3
                        }) %>
                    <% } %>
                </a>
                <% if (theme.visit_count.enable_at.includes("index")) { %>
                    <a>
                        <i class="fa fa-eye"></i>
                        <%- __('post_meta.read_count', process_template_path(theme.visit_count.template._shared + theme.visit_count.template.index, post.path, "visit_count")) %>
                    </a>
                <% } %>
                <% if (theme.comments.count.enable_at.includes("index") && post.comments) { %>
                    <a>
                        <i class="fa fa-commenting-o"></i>
                        <%- __('post_meta.comments_count', process_template_path(theme.comments.count.template._shared + theme.comments.count.template.index, post.path, "comments")) %>
                    </a>
                <% } %>
            </span>
            <span class="pull-right">
                <a class="read-more" href="<%- url_for(post.path) %>" title="<%- __('read_full') %>"><%- __('read_full') %><i class="fa fa-chevron-circle-right"></i></a>
            </span>
        </footer>
    </div>
</article>