<div class="kratos-hentry kratos-post-inner clearfix">
    <div class="kratos-post-content">
        <h2 class="title-h2 text-center"><%- __('search') %></h2>
        <form class="input-group" onsubmit="return inpSearch();">
            <input class="form-input input-lg" id="search-input" maxlength="80" name="s" placeholder="<%- __('search_notice') %>" required type="search">
            <button class="btn btn-primary" type="submit"><%- __('search_submit') %></button>
        </form>
    </div>
</div>

<div class="alert alert-info" id="kr-search-notice">
    <%- __('search_notice_page', config.title) %>
</div>

<div id="result-posts">
    <div class="kratos-hentry kratos-post-inner clearfix">
        <div class="kratos-post-content">
            <p><%- __('search_notice_keys', strip_html(list_tags({
                orderby: 'date',
                show_count: false,
                style: 'none',
                separator: ' ',
                amount: 3
            }))) %></p>
            <p><%- __('search_notice_tags') %></p>
            <p class="search-demo-tags">
                <%- tagcloud({
                    orderby: 'date',
                    min_font: 18, 
                    max_font: 24,
                    unit: 'px',
                    color: true,
                    start_color: '#b2b7be',
                    end_color: '#6c7588'
                }) %>
            </p>
        </div>
    </div>
</div>

<script>var searchDataFile = "<%- config.root + (theme.search.path || 'search.json') %>";</script>
<script defer src="<%- url_cdn('js/local-search.min.js') %>"></script>