<!-- Breadcrumb for tag & category page -->
<% if (page.tag || page.category) { %>
    <article class="kratos-hentry kratos-entry-border-new clearfix">
        <div class="kratos-breadcrumb">
            <a href="<%- url_for('/') %>">
                <i class="fa fa-home"></i>
            </a>
            <i class="fa fa-angle-right"></i>
            <% if (page.tag) { %>
                <a href="<%- url_for('/tags/') %>">
                    <%= __('title.tag') %>
                </a>
                <i class="fa fa-angle-right"></i>
                <a href="<%- url_for('/tags/' + page.tag) %>">
                    <%= page.tag %>
                </a>
            <% } else if (page.category) { %>

                <a href="<%- url_for('/categories/') %>">
                    <%= __('title.category') %>
                </a>

                <%
                /* Find full category */
                var pCategory = site.categories.filter(category => is_current(category.path, true)).first();
                if (!pCategory) {
                    // fallback
                    pCategory = site.categories.findOne({"name": page.category});
                }
                var categroyInfo = [pCategory];
                while (pCategory.parent) {
                    pCategory = site.categories.findOne({"_id": pCategory.parent});
                    categroyInfo.push(pCategory);
                }
                categroyInfo = categroyInfo.reverse();
                const categoryLength = categroyInfo.length;
                %>
                <% for (let i = 0; i < categoryLength; i++) { %>
                    <i class="fa fa-angle-right"></i>
                    <a href="<%- url_for(categroyInfo[i].path) %>">
                        <%= categroyInfo[i].name %>
                    </a>
                <% } %>
            <% } %>
            <% if (page.current > 1) { %>
                <i class="fa fa-angle-right"></i>
                <span>
                    <%= __('page_no', page.current) %>
                </a>
            <% } %>
        </div>
    </article>
<% } %>

<% const commentProvider = theme.posts?.comments?.provider ?? theme.posts?.comments; %>
<% page.posts.each(function(post) { %>
    <% if (post.only) {
        const postShow = 
            post.only.includes('home') && is_home()
            || post.only.includes('category') && is_category()
            || post.only.includes('tag') && is_tag();
        if (!postShow) {
            return false;
        }
    } %>
    <% if (!post.title || post.link) { %>
        <%- partial('_index_posts/status', { post: post }) %>
    <% } else { %>
        <%- partial(`_index_posts/${theme.index.style}`, { post: post }) %>
    <% } %>
<% }) %>

<% if (page.total > 1) { %>
    <div class='text-center pagination'>
    <%- paginator({prev_text: '<i class="fa fa-angle-left"></i>', next_text: '<i class="fa fa-angle-right"></i>', escape: false}) %>
    </div>
<% } %>


<% if (theme.comments.core.enable_at.includes('index')) { %>
    <div class="comment-index">
        <%- (theme.comments.core.template._shared + theme.comments.core.template.index).replaceAll("$PATH", url_for(page.path)) %>
    </div>
<% } %>
