<!DOCTYPE html>
<html lang="<%= config.language %>">
    <%- partial('_partial/head') %>
    <body class="custom-background">
        <%- partial('_partial/header') %>

        <%- body %>

        <%- partial('_partial/footer') %>
        <%- partial('_partial/after-footer') %>
    </body>
</html>