<!DOCTYPE html>
<html lang="<%= config.language %>">
    <%- partial('_partial/head') %>
    <body class="custom-background">
        <%- partial('_partial/header') %>
        <div id="main">
            <%- body %>
        </div>
        <%- partial('_partial/footer') %>
        <%- partial('_partial/after-footer') %>
    </body>
</html>