<!DOCTYPE html>
<html lang="<%= config.language %>">
    <%- partial('_partial/head') %>
    <body class="custom-background">
        <%- partial('_partial/header') %>

        <section class="col-md-<%- (theme.sidebar === 'left' || theme.sidebar === 'right') ? '8' : '12' %>">
            <%- body %>
        </section>

        <%- partial('_partial/footer') %>
        <%- partial('_partial/after-footer') %>
    </body>
</html>