<article itemscope itemtype="https://schema.org/Article">
    <link itemprop="mainEntityOfPage" href="<%= page.permalink %>">
    <div class="kratos-hentry kratos-post-inner clearfix">
        <div class="kratos-post-content">
            <h2 class="title-h2 text-center" itemprop="name headline"><%- page.title %></h2>
            <div itemprop="articleBody"><%- page.content %></div>
        </div>
        <footer class="kratos-entry-footer clearfix">
            <div class="footer-tag clearfix">
                <div class="pull-date">
                    <time datetime="<%= date_xml(page.updated) %>" itemprop="dateModified"><%- __('last_modify') %><%- date(page.updated) %></time>
                </div>
            </div>
        </footer>
    </div>
    <% const commentProvider = theme.posts.comments?.provider ?? theme.posts.comments; %>
    <% if (commentProvider && page.comments) { %>
        <%- partial('_comments/' + commentProvider) %>
    <% } %>
</article>