<section id="main" class="col-md-8">
    <article>
        <div class="kratos-hentry kratos-post-inner clearfix">
            <div class="kratos-post-content">
                <h2 class="title-h2" style="text-align:center;font-size:18pt"><%- page.title %></h2>
                <%- page.content %>
            </div>
            <footer class="kratos-entry-footer clearfix">
                <div class="footer-tag clearfix">
                    <div class="pull-date">
                    <span>最后编辑：<%= date(page.edit?page.edit:page.date, null) %></span>
                    </div>
                </div>
            </footer>
        </div>
        <% if (page.prev || page.next){ %>
            <nav class="navigation post-navigation clearfix" role="navigation">
                <% if (page.next){ %>
                <div class="nav-previous clearfix">
                    <a title=" <% if (page.next.title){ %><%= page.next.title %><% } else { %>(no title)<% } %>" href="<%- "/"+page.next.path %>">&lt; <%= __('newer') %></a>
                </div>
                <% } %>
                <% if (page.prev){ %>
                <div class="nav-next clearfix">
                    <a title=" <% if (page.prev.title){ %><%= page.prev.title %><% } else { %>(no title)<% } %>" href="<%- "/"+page.prev.path %>"><%= __('older') %> &gt;</a>
                </div>
                <% } %>
            </nav>
        <% } %>
        <% if (theme.posts.comments && page.comments) { %>
            <%- partial('_comments/' + theme.posts.comments) %>
        <% } %>
    </article>
</section>