<article itemscope itemtype="https://schema.org/Article">
    <% const commentProvider = theme.posts.comments?.provider ?? theme.posts.comments; %>
    <link itemprop="mainEntityOfPage" href="<%= page.permalink %>">
    <div class="kratos-hentry kratos-post-inner clearfix">
        <header class="kratos-entry-header">
            <% if (page.title) { %>
                <h1 class="kratos-entry-title text-center" itemprop="name headline"><%- page.title %></h1>
            <% } %>
            <% if (page.subtitle) { %>
                <h2 class="text-center"><%- page.subtitle %></h2>
            <% } %>
            <ul class="kratos-post-meta text-center">
                <li><time datetime="<%= date_xml(page.date) %>" itemprop="datePublished"><i class="fa fa-calendar"></i> <%- date(page.date, null) %></time></li>
                <li itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <i class="fa fa-user"></i> <%- __('author') %> <span itemprop="name"><%- page.author || config.author %></span>
                </li>
                <li>
                    <i class="fa fa-edit"></i> 
                    <% const wordsCount = strip_html(page.content).length; %>
                    <% if (wordsCount < 1500) { %>
                        <%= wordsCount %>
                    <% } else { %>
                        ~<%= (wordsCount / 1000).toFixed(2) %>K
                    <% } %>
                    <%- __('words') %>
                </li>
                <% if (/[vw]aline/.test(commentProvider) && theme[commentProvider].visitor) { %>
                    <li id="<%- url_for(page.path) %>" class="leancloud_visitors" data-flag-title="<%- page.title %>">
                        <i class="fa fa-eye"></i>
                        <%- __('read_count', '<span class="leancloud-visitors-count"> </span>') %>
                    </li>
                    <% if (commentProvider === 'waline') { %>
                        <li>
                            <i class="fa fa-commenting-o"></i>
                            <%- __('comments_count', '<span data-xid="' + url_for(page.path) + '" class="waline-comment-count"> </span>') %>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </header>
        <div class="kratos-post-content">
            <% if (page.expire === true || page.expire !== false && !!page.title) { %>
            <div id="expire-alert" class="alert alert-warning hidden" role="alert">
                <div class="icon"><i class="fa fa-warning"></i></div>
                <div class="text"><p><%- __('last_modify_alert', '<time datetime="' + page.updated + '"></time>') %></p></div>
            </div>
            <% } %>
            <% if (!theme.mobile_toc?.hide && page.toc && strip_html(toc(page.content))) { %>
                <div class="kratos-post-inner-toc">
                    <%- toc(page.content, { list_number: !theme.mobile_toc?.hide_id }) %>
                </div>
            <% } %>
            <hr />
            <div itemprop="articleBody"><%- page.content %></div>
        </div>
        <% if (typeof page.show_cc !== 'undefined' ? page.show_cc : theme.posts.show_cc) { %>
            <div class="kratos-copyright text-center clearfix">
                <h5 itemprop="copyrightNotice"><%- __('use_cc4_license') %></h5>
            </div>
        <% } %>
        <footer class="kratos-entry-footer clearfix">
            <% if (theme.posts.donate || theme.posts.share) { %>
                <div class="post-like-donate text-center clearfix" id="post-like-donate">
                <% if (theme.posts.donate) { %>
                    <a class="donate" href="javascript:;"><i class="fa fa-bitcoin"></i> <%- __('reward') %></a>
                <% } %>
                <% if (theme.posts.share) { %>
                    <a class="share" href="javascript:;"><i class="fa fa-share-alt"></i> <%- __('share') %></a>
                    <%- partial('_tools/share', {page: page}) %>
                <% } %>
                </div>
            <% } %>
            <div class="footer-tag clearfix">
                <div class="pull-left">
                <i class="fa fa-tags"></i>
                    <%- list_tags(page.tags, {
                        show_count: false,
                        style: 'none'
                    }) %>
                </div>
                <div class="pull-date">
                    <time datetime="<%= date_xml(page.updated) %>" itemprop="dateModified"><%- __('last_modify') %><%- date(page.updated) %></time>
                </div>
            </div>
        </footer>
    </div>
    <% if (page.prev || page.next) { %>
        <nav class="navigation post-navigation clearfix" role="navigation">
            <% if (page.next) { %>
            <div class="nav-previous clearfix">
                <a title=" <% if (page.next.title){ %><%= page.next.title %><% } else { %>(<%- __('no_title') %>)<% } %>" href="<%- config.root + page.next.path %>">&lt; <%- __('newer') %></a>
            </div>
            <% } %>
            <% if (page.prev) { %>
            <div class="nav-next clearfix">
                <a title=" <% if (page.prev.title){ %><%= page.prev.title %><% } else { %>(<%- __('no_title') %>)<% } %>" href="<%- config.root + page.prev.path %>"><%- __('older') %> &gt;</a>
            </div>
            <% } %>
        </nav>
    <% } %>
    <% if (commentProvider && page.comments) { %>
        <%- partial('_comments/' + commentProvider) %>
    <% } %>
</article>