<section class="col-md-8">
    <article>
        <div class="kratos-hentry kratos-post-inner clearfix">
            <header class="kratos-entry-header">
                <h1 class="kratos-entry-title text-center"><%- page.title %></h1>
                <% if (page.subtitle) { %>
                    <h2 class="text-center"><%- page.subtitle %></h2>
                <% } %>
                <div class="kratos-post-meta text-center">
                    <span<% if (theme.posts.comments === 'valine' && theme.valine.visitor) { %> id="<%- url_for(page.path) %>" class="leancloud_visitors" data-flag-title="<%- page.title %>"<% } %>>
                        <i class="fa fa-calendar"></i> <%- date(page.date, null) %>
                        <i class="fa fa-folder"></i> <%- __('category') %> <%- list_categories(page.categories, {show_count: false, class: 'label', style: 'none'}) %>
                        <i class="fa fa-user"></i> <%- __('author') %> <%- page.author || config.author %>
                        <i class="fa fa-edit"></i> 
                        <% const wordsCount = strip_html(page.content).length; %>
                        <% if (wordsCount < 1500) { %>
                            <%= wordsCount %>
                        <% } else { %>
                            ~<%= (wordsCount / 1000).toFixed(2) %>K
                        <% } %>
                        字
                        <% if (theme.posts.comments === 'valine' && theme.valine.visitor) { %>
                            <i class="fa fa-eye"></i> <%- __('read_count', '<span class="leancloud-visitors-count"></span>') %>
                        <% } %>
                    </span>
                </div>
            </header>
            <div class="kratos-post-content">
                <div id="expire-alert" class="alert alert-warning hidden" role="alert">
                    <%- __('last_modify_alert', '<time datetime="' + page.updated + '"></time>') %>
                </div>
                <% if (page.toc && strip_html(toc(page.content))) { %>
                    <div class="kratos-post-inner-toc">
                        <%- toc(page.content) %>
                    </div>
                <% } %>
                <hr />
                <%- page.content %>
            </div>
            <% if (theme.posts.show_cc) { %>
                <div class="kratos-copyright text-center clearfix">
                    <h5><%- __('use_cc4_license') %></h5>
                </div>
            <% } %>
            <footer class="kratos-entry-footer clearfix">
                <% if (theme.posts.donate || theme.posts.share) { %>
                    <div class="post-like-donate text-center clearfix" id="post-like-donate">
                    <% if (theme.posts.donate) { %>
                        <a class="donate" href="javascript:;"><i class="fa fa-bitcoin"></i> <%- __('reward') %></a>
                    <% } %>
                    <% if (theme.posts.share) { %>
                        <a class="share" href="javascript:;"><i class="fa fa-share-alt"></i> <%- __('share') %></a>
                        <%- partial('_tools/share', {page: page}) %>
                    <% } %>
                    </div>
                <% } %>
                <div class="footer-tag clearfix">
                    <div class="pull-left">
                    <i class="fa fa-tags"></i>
                        <%- list_tags(page.tags, {
                            show_count: false,
                            style: 'none'
                        }) %>
                    </div>
                    <div class="pull-date">
                    <span><%- __('last_modify') %><%- date(page.updated) %></span>
                    </div>
                </div>
            </footer>
        </div>
        <% if (page.prev || page.next) { %>
            <nav class="navigation post-navigation clearfix" role="navigation">
                <% if (page.next) { %>
                <div class="nav-previous clearfix">
                    <a title=" <% if (page.next.title){ %><%= page.next.title %><% } else { %>(<%- __('no_title') %>)<% } %>" href="<%- config.root + page.next.path %>">&lt; <%- __('newer') %></a>
                </div>
                <% } %>
                <% if (page.prev) { %>
                <div class="nav-next clearfix">
                    <a title=" <% if (page.prev.title){ %><%= page.prev.title %><% } else { %>(<%- __('no_title') %>)<% } %>" href="<%- config.root + page.prev.path %>"><%- __('older') %> &gt;</a>
                </div>
                <% } %>
            </nav>
        <% } %>
        <% if (theme.posts.comments && page.comments && page.title && !page.link) { %>
            <%- partial('_comments/' + theme.posts.comments) %>
        <% } %>
    </article>
</section>