<div id="kr-share-modal" class="kr-modal">
    <div class="kr-modal-bg" onclick="krCloseShareModal()"></div>
    <div class="kr-modal-content">
        <div class="kr-modal-header">
            <div class="kr-modal-icon">
                <i class="fa fa-share-alt"></i>
            </div>
            <div class="kr-modal-title"><%- theme.share.title %></div>
            <button class="kr-modal-close" onclick="krCloseShareModal()">
                <i class="fa fa-times-circle"></i>
            </button>
        </div>
        <div class="kr-modal-body">
            <div class="kr-share-message"><%- theme.share.message %></div>
            <div class="kr-share-qr" id="kr-share-qr"></div>
            <div class="kr-share-platforms">
                <% for (const platform of theme.share.platforms) { %>
                    <button class="kr-share-platform-button" style="color: <%- platform.color %>;" title="<%- platform.name %>" onclick="krShareModalOpenPlatform('<%- platform.link %>')">
                        <%- icon_to_html(platform.icon) %>
                    </button>
                <% } %>
            </div>
        </div>
    </div>
</div>
<%- js_theme_cdn('js/kr-modal/share.min.js', { defer: true }) %>
