<%- js_npm_cdn('bootstrap', 'dist/js/bootstrap.min.js', {defer: true}) %>
<%- js_npm_cdn('nprogress', 'nprogress.js', {defer: true}) %>
<script>
    if (!window.kr) {
        window.kr = {};
    }
    window.kr.notMobile = (!(navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)));
    window.kr.siteRoot = "<%- url_for('/') %>";
</script>
<% if(theme.snow){ %>
    <div>
        <canvas id="snow"></canvas>
        <%- js_theme_cdn('js/snow.min.js', {async: true}) %>
    </div>
<% } %>
<% if (theme.click_animate_js) { %>
    <script async src="<%- theme.click_animate_js.includes('//') ? theme.click_animate_js : url_theme_cdn('js/' + theme.click_animate_js + '.min.js') %>"></script>
<% } %>

<% if (theme.aplayer.enabled) { %>
    <%- js_npm_cdn('aplayer', 'dist/APlayer.min.js', {defer: true}) %>
    <%- partial('../_tools/player') %>
<% }%>
<% if (page.type !== '404' && theme.fancybox){ %>
    <%- js_npm_cdn('@fancyapps/fancybox', 'dist/jquery.fancybox.min.js', {defer: true}) %>
<% } %>
<%- js_npm_cdn('clipboard', 'dist/clipboard.min.js', {defer: true}) %>
<%- js_theme_cdn('js/kratosr.min.js', {defer: true}) %>
<%- js_theme_cdn('js/pjax.min.js', {defer: true}) %>
<% if (page.type !== '404' && theme.posts.donate) { %>
    <%- js_npm_cdn('layui-src', 'dist/layui.all.js', {defer: true}) %>
<% } %>
<%- theme.site_analytics %>

<!-- Extra support for third-party plguins  -->
<% if (config.mermaid && config.mermaid.enable || theme.mermaid && theme.mermaid.enable) { %>
    <%- partial('../_plugins/mermaid', { mermaidConfig: config.mermaid || theme.mermaid }) %>
<% } %>
