        </div>
    </div>
</div>

<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 footer-list text-center">
                    <ul class="kratos-social-icons">
                        <% for (const link of theme.footer.links) { %>
                            <li>
                                <a href="<%- link.link %>" <%- link.addition || 'target="_blank" rel="nofollow"' %>>
                                    <%- icon_to_html(link.icon) %>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                    <ul class="kratos-copyright">
                        <div>
                            <li>&copy; <%- date(new Date(), 'YYYY') %> <%- config.title || config.author %> <%- __('footer_components.copyright') %>.</li>
                            <li><%- theme.footer.components.uptime.text %><span id="kr-since">Loading...</span></li>
                        </div>
                        <div>
                            <li><%- __('footer_components.theme_name', '<a href="https://github.com/Candinya/Kratos-Rebirth" target="_blank">Kratos:Rebirth</a>') %></li>
                            <li><%- __(
                                'footer_components.site_built_with_love', 
                                theme.footer.components.author.homepage ? 
                                    `<a href="${theme.footer.components.author.homepage}" target="_blank">${config.author}</a>` :
                                    config.author
                            ) %></li>
                        </div>
                        <!-- 额外的追加注入项 -->
                        <% for (const list of theme.footer.components.additional) { %>
                            <div>
                                <% for (const member of list) { %>
                                    <li><%- member %></li>
                                <% } %>
                            </div>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="kr-tool text-center">
            <div class="tool">
                <% if (theme.search.provider !== "none") { %>
                    <div class="box search-box">
                        <a href="<%- url_for(theme.search.path.page) %>">
                            <span class="fa fa-search"></span>
                        </a>
                    </div>
                <% } %>
                <div class="box theme-box" id="theme-toggle">
                    <span class="fa fa-adjust"></span>
                </div>
            </div>
            <div id="gotop-box" class="box gotop-box">
                <span class="fa fa-chevron-up"></span>
            </div>
        </div>
    </div>
</footer>
</div>
</div>

<% if (theme.donate.enable) { %>
    <%- partial('_modals/donate', { page: page, theme: theme }) %>
<% } %>

<% if (theme.share.enable) { %>
    <%- partial('_modals/share', { page: page, theme: theme }) %>
<% } %>

<!-- 额外的追加注入项 -->
<% if (theme.additional_injections.footer) { %>
    <%- theme.additional_injections.footer %>
<% } %>
