        <% if (page.type !== '404' && theme.sidebar.location === 'right') { %>
            <%- partial('_partial/sidebar') %>
        <% } %>
        </div>
    </div>
</div>
<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 footer-list text-center">
                    <ul class="kratos-social-icons">
                        <% for (const link of theme.footer_links) { %>
                            <li>
                                <a <% if (!link.currentPage) { %>target="_blank" rel="nofollow" <% } %>href="<%- link.link %>">
                                    <% if (link.icon) { %>
                                        <i class="fa fa-<%- link.icon %>"></i>
                                    <% } else if (link.html) { %>
                                        <%- link.html %>
                                    <% } %>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                    <ul class="kratos-copyright">
                        <div>
                            <li>&copy; <%- date(new Date(), 'YYYY') %> <%- config.title || config.author %> <%- __('copyright') %>.</li>
                            <li><%- theme.footer_components.uptime.text %><span id="span_dt">Loading...</span></li>
                        </div>
                        <div>
                            <li>Theme <a href="https://github.com/Candinya/Kratos-Rebirth" target="_blank">Kratos:Rebirth</a></li>
                            <li>Site built with&nbsp;<i class="fa fa-heart" style="color:#d43f57"></i>&nbsp;by <%- config.author %>.</li>
                        </div>
                        <!-- 额外的追加注入项 -->
                        <% if (theme.additional_injections.footer) { %>
                            <%- theme.additional_injections.footer %>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="kr-tool text-center">
            <div class="tool">
                <% if (theme.search?.enable) { %>
                    <div class="box search-box">
                        <a href="<%- config.root %>search/">
                            <span class="fa fa-search"></span>
                        </a>
                    </div>
                <% } %>
                <div class="box theme-box" id="darkmode-switch">
                    <span class="fa fa-adjust"></span>
                </div>
            </div>
            <div id="gotop-box" class="box gotop-box">
                <span class="fa fa-chevron-up"></span>
            </div>
        </div>
    </div>
</footer>
</div>
</div>

<% if (theme.donate.enabled) { %>
    <%- partial('_utils/donate', { page: page, theme: theme }) %>
<% } %>

<% if (theme.share.enabled) { %>
    <%- partial('_utils/share', { page: page, theme: theme }) %>
<% } %>
