        <% if (theme.sidebar === 'right') { %>
            <aside id="kratos-widget-area" class="col-md-4 hidden-xs hidden-sm scrollspy">
                <div id="sidebar">
                    <% theme.widgets.forEach(function(widget){ %>
                        <%- partial('_widget/' + widget) %>
                    <% }) %>
                </div>
            </aside>
        <% } %>
        </div>
    </div>
</div>
<footer>
    <div id="footer">
        <div class="cd-tool text-center">
            <div class="gotop-box2 gotop-box"><div class="gotop-btn"><span class="fa fa-chevron-up"></span></div></div>
            <% if(theme.show_qqg) { %>
              <div class="qqg-img">
                <div id="qqg-img"><span class="fa fa-qq"></span></div>
                <div id="qqg-pic">
                  <img src="/images/qqg.jpg">
                </div>
              </div>
            <% } %>
            <div class="search-box">
                <span class="fa fa-search"></span>
                <form action="//google.com/search" role="search" method="get" accept-charset="UTF-8" id="searchform" target="_blank">
                    <input type="search" id="search" name="q" placeholder="Search"  style="display:none">
                    <input type="hidden" name="sitesearch" value="<%= config.url %>">
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 footer-list text-center">
                    <p class="kratos-social-icons">
                        <% if (theme.contact.weibo) {%><a target="_blank" rel="nofollow" href="<%= theme.contact.weibo %>"><i class="fa fa-weibo"></i></a><% } %>
                        <% if (theme.contact.tweibo) {%><a target="_blank" rel="nofollow" href="<%= theme.contact.tweibo %>"><i class="fa fa-tencent-weibo"></i></a><% } %>
                        <% if (theme.contact.mail) {%><a href="<%= theme.contact.mail %>"><i class="fa fa-envelope"></i></a><% } %>
                        <% if (theme.contact.twitter) {%><a target="_blank" rel="nofollow" href="<%= theme.contact.twitter %>"><i class="fa fa-twitter"></i></a><% } %>
                        <% if (theme.contact.facebook) {%><a target="_blank" rel="nofollow" href="<%= theme.contact.facebook %>"><i class="fa fa-facebook-official"></i></a><% } %>
                        <% if (theme.contact.linkedin) {%><a target="_blank" rel="nofollow" href="<%= theme.contact.linkedin %>"><i class="fa fa-linkedin-square"></i></a><% } %>
                        <% if (theme.contact.github) {%><a target="_blank" rel="nofollow" href="<%= theme.contact.github %>"><i class="fa fa-github"></i></a><% } %>
                    </p>
                    <p> &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> 版权所有. | 本站已运行<span id=span_dt_dt>Loading...</span><br />
                      Theme: <a href="https://github.com/bimovo/kratos-rebirth" target="_blank" rel="nofollow">Kratos:Rebirth</a> | 
                      Made with <i class="fa fa-heart throb" style="color:#d43f57"></i> by <a href="https://puq.moe" target="_blank" rel="nofollow">蓝冰记忆</a>.<br />
                      <a href="https://www.fczbl.vip/787.html" target="_blank" rel="nofollow">Wordpress version</a> by <a href="https://52loli.live" target="_blank" rel="nofollow">小白</a> | 
                      <a href="https://www.vtrois.com/theme-kratos.html" target="_blank" rel="nofollow">Kratos</a> by <a href="https://www.vtrois.com/" target="_blank" rel="nofollow">Vtrois</a>
                      
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
<% if(theme.snow){ %>
    <div id="xb_snow">
    <canvas id="Snow"></canvas>
    <script type="text/javascript" src="/js/snow.kr.js"></script>
    </div>
<% } %>
</body>
</html>