<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <% var title = page.title; %>
  <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="format-detection" content="telphone=no, email=no">
  <meta name="description" itemprop="description" content="<%= config.description %>">
  <meta name="keywords" content="<%= config.keywords %>">
  <link rel="icon" href="<%- theme.site_logo %>">
  <link rel="stylesheet" id="kratos-css" href="/css/kratosr.css" type="text/css" media="all">
  <link rel="stylesheet" id="fontawe-css" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" type="text/css" media="all">
  <link rel="stylesheet" id="nprogress-css" href="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.css" type="text/css" media="all">
  <%- css('css/ext') %>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <% if (theme.posts.comments == 'disqusjs') { %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/disqusjs@1.2.6/dist/disqusjs.css">
    <style>#dsqjs{padding:10px 15px;}#dsqjs-msg{color:#2a2e2e;background-color:#ebeef2;padding:10px;border-radius:5px;}</style>
    <script src="https://cdn.jsdelivr.net/npm/disqusjs@1.2.6/dist/disqus.js"></script>
  <% } %>
  <% if (theme.aplayer) { %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
  <% }%>
</head>
<body class="custom-background">
    <div id="kratos-wrapper">
        <div id="kratos-page">
            <div id="kratos-header">
                <div class="nav-toggle"><a class="kratos-nav-toggle js-kratos-nav-toggle"><i></i></a></div>
                <header id="kratos-header-section">
                    <div class="container">
                        <div class="nav-header">
                            <div class="color-logo"><a href="/"><%= config.title %></a></div>
                            <nav id="kratos-menu-wrap">
                              <ul id="kratos-primary-menu" class="sf-menu">
                              <% for (var i in theme.menu){ %>
                                <% if (typeof (theme.menu[i]['submenu']) !== 'undefined') { %>
                                  <li>
                                    <a><%- theme.label[i]['submenu'] %></a>
                                    <ul class="sub-menu">
                                      <% for (var j in theme.menu[i]){ %>
                                        <% if (j !== 'submenu') { %>
                                          <li><a href="<%- url_for(theme.menu[i][j]) %>"><%- theme.label[i][j] %></a></li>
                                        <% } %>
                                      <% } %>
                                    </ul>
                                  </li>
                                <% } else { %>
                                  <li><a href="<%- url_for(theme.menu[i]) %>"><%- theme.label[i] %></a></li>
                                <% } %>
                              <% } %>
                              </ul>
                            </nav>
                        </div>
                    </div>
                </header>
            </div>
