<head>
  <!-- 元数据 -->
  <meta charset="utf-8">
  <link rel="icon" href="<%- theme.site_logo %>">
  <title><% if (page.title) { %><%- page.title %> | <% } %><%- config.title %></title>
  <meta name="author" content="<%- config.author  %>" />
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="index,follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="format-detection" content="telphone=no, email=no" />
  <% if (is_post()) { %>
    <meta name="keywords" content="<%- strip_html(list_tags(page.tags, { show_count: false, style: 'none' })) %>" />
  <% } else { %>
    <meta name="keywords" content="<%- config.keywords %>" />
  <% } %>
  <%- open_graph({
    image: full_url_for(page.pic ? page.path + page.pic : theme.site_logo),
    twitter_site: "@" + theme.contact.twitter
  }) %>
  <% if (theme.contact.rss) {%><link rel="alternate" href="<%- theme.contact.rss %>" type="application/atom+xml"><% } %>
  <!-- 站点验证相关 -->
  <% if (theme.site_verify) { %>
    <% if (theme.site_verify.google) { %>
      <meta name="google-site-verification" content="<%- theme.site_verify.google %>" />
    <% } %>
    <% if (theme.site_verify.baidu) { %>
      <meta name="baidu-site-verification" content="<%- theme.site_verify.baidu %>" />
    <% } %>
    <% if (theme.site_verify.bing) { %>
      <meta name="msvalidate.01" content="<%- theme.site_verify.bing %>" />
    <% } %>
  <% } %>
  <!-- 样式表文件 -->
  <link rel="stylesheet" id="kratos-css" href="<%- url_cdn('css/kratosr.min.css') %>" type="text/css" media="all">
  <% if (config.highlight && config.highlight.enable && theme.highlight_theme) { %>
    <link rel="stylesheet" id="highlight-css" href="<%- url_cdn(`css/highlight/${theme.highlight_theme || 'night-eighties'}.min.css`) %>" type="text/css" media="all">
  <% } %>
  <% if (config.prismjs && config.prismjs.enable) { %>
    <link rel="stylesheet" id="prismjs-css" href="<%- url_cdn('css/prismjs.min.css') %>" type="text/css" media="all">
  <% } %>
  <link rel="stylesheet" id="fontawe-css" href="<%- url_npm_cdn('font-awesome@4.7.0/css/font-awesome.min.css') %>" type="text/css" media="all">
  <link rel="stylesheet" id="nprogress-css" href="<%- url_npm_cdn('nprogress@0.2.0/nprogress.css') %>" type="text/css" media="all">
  <% if (theme.posts.comments == 'disqusjs') { %>
    <link rel="stylesheet" href="<%- url_npm_cdn('disqusjs@1.2.6/dist/disqusjs.css') %>">
  <% } %>
  <% if (theme.aplayer.enabled) { %>
    <link rel="stylesheet" href="<%- url_npm_cdn('aplayer@1.10.1/dist/APlayer.min.css') %>">
  <% }%>
  <% if (theme.fancybox){ %>
    <link rel="stylesheet" href="<%- url_npm_cdn('@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css') %>">
  <% } %>
  <% if (theme.enable_dark) { %>
    <link rel="stylesheet" id="darkmode-css" href="<%- url_cdn('css/kr-dark.min.css') %>" type="text/css" media="all">
  <% } %>
  <!-- 不得不预先加载的一些JS文件 -->
  <script src="<%- url_npm_cdn('jquery@3.6.0/dist/jquery.min.js') %>"></script>
  <% if (theme.posts.share) { %>
    <script src="<%- url_npm_cdn('qrcode_js@1.0.0/qrcode.min.js') %>"></script>
  <% } %>
  <% if (theme.customStyles) { %>
  <style>
    <% if (theme.customStyles.images?.banner) { %>
      .kratos-cover.kratos-cover-2 {
        background-image: url('<%- theme.customStyles.images?.banner %>');
      }
    <% } %>
    <% if (theme.customStyles.images?.background) { %>
      @media(min-width:768px) {
        body.custom-background {
          background-image: url('<%- theme.customStyles.images?.background %>');
        }
      }
    <% } %>
  </style>
  <% } %>
</head>

