<%- css_npm_cdn('gitalk', 'dist/gitalk.css') %>
<div id="gitalk-container" class="post-comments lazy-load<% if (theme.posts.comments?.enableBGImage) { %> bg-image<% } %>" style="padding-left:2rem; padding-right:2rem;"></div>
<script>
    var load_comm = () => {
        const init = () => {
            console.log('Gitalk loading...');
            const gitalk = new Gitalk(Object.assign({
                id: '<%- url_for(page.path) %>',
                path: '<%- url_for(page.path) %>'
            }, JSON.parse('<%- JSON.stringify(theme.gitalk) %>')));

            gitalk.render('gitalk-container');
        }
        if (typeof Gitalk === 'undefined') {
            const src = '<%- url_npm_cdn("gitalk", "dist/gitalk.min.js") %>';
            $.getScript(src, init);
        } else {
            init();
        }
    };
</script>
<noscript>Please enable JavaScript to view the <a href="https://github.com/gitalk/gitalk">comments powered by Gitalk.</a></noscript>