<div id="v-comments" class="post-comments<% if (!theme.valine.visitor) { %> lazy-load<% } %><% if (theme.posts.comments?.enableBGImage) { %> bg-image<% } %>"></div>
<script>
    var load_comm = () => {
        const init = () => {
            new Valine({
                el: '#v-comments',
                appId: '<%- theme.valine.app_id %>',
                appKey: '<%- theme.valine.app_key %>',
                visitor: <%- theme.valine.visitor %>,
                enableQQ: <%- theme.valine.enableQQ %>,
                path: '<%- url_for(page.path) %>'
            });
        }
        if (typeof Valine === 'undefined') {
            const src = '<%- url_npm_cdn("valine", "dist/Valine.min.js") %>';
            $.getScript(src, init);
        } else {
            init();
        }
    };
</script>
<noscript>Please enable JavaScript to view the <a href="https://valine.js.org/">comments powered by Valine.</a></noscript>
