<div id="v-comments" class="post-comments"></div>
<script>
    var load_comm = () => {
        const init = () => {
            new Valine({
                el: '#v-comments',
                appId: '<%- theme.valine.app_id %>',
                appKey: '<%- theme.valine.app_key %>',
                visitor: <%- theme.valine.visitor %>,
                enableQQ: <%- theme.valine.enableQQ %>,
                path: '<%- url_for(page.path) %>'
            });
        }
        if (typeof Valine == 'undefined') {
            const src = 'https://cdn.jsdelivr.net/npm/valine@1.4.14/dist/Valine.min.js';
            $.getScript(src, init);
        } else {
            init();
        }
    };

    // 因为Valine涉及到访问统计的内容，所以不能使用lazyload，因而在此处就直接加载了
    window.requestIdleCallback(load_comm);
</script>
<noscript>Please enable JavaScript to view the <a href="https://valine.js.org/">comments powered by Valine.</a></noscript>
